/* General Styling */
*{
    margin: 0;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; }


.po h1{
    color: #fff;
    font-weight: bold;

}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}



header nav ul li {
    display: inline-block;
    list-style: none;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    width: 85%;
    display: inline-block;
}

.homie {
    align-items: center;
    margin-right: 20px;

}




.contrata {
    color: aliceblue;
    text-align: center;

}

.contrata ul li a {
    color: aliceblue;
}

.save {
    color: aliceblue;
    text-align: center;
}


footer {
    flex-direction: column;
    min-height: 10vh;
    padding: 0;
    text-align: center;
}

footer p {
    margin: 5px 0;
    color: white;
}

.app {
    margin: 5px 0;
    color: white;
    padding: 300px;
}



/*about*/

.about {
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-radius: 10px;
    margin: 0px auto;
}

.about-image {
    width: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.about-image img {
display: block;
width: 100%;
height: auto;
transition: transform 0.3s ease;

}

.about-image:hover img {
transform: scale(1.1);
}

.about-content {
    width: 50%;
    margin-left: 40px ;
}

.about-content h2 {
    color: white ;
    font-size: 32px;
    margin-bottom: 20px;
}

.about-content p {
    color: white;
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 20px;

}